.mat-mdc-list-item-avatar.not-rounded {
	border-radius: 0% !important;
}
.mat-mdc-list-item-line {
	font-family: "Roboto Mono", monospace;
}
h3 {
	padding-top: 0px;
}
.mat-mdc-list-item {
	padding-bottom: 12px;
}