<h3>{{ 'DIALOGS.SHARE.TITLE' | translate }}</h3>
<mat-nav-list>
  <mat-list-item (click)="shareInSocialMedia('facebook')">
    <img matListItemAvatar src="./assets/images/social-media/facebookR.png">
    <h3 matListItemTitle>Facebook</h3>
    <span matListItemLine>{{ 'DIALOGS.SHARE.FACEBOOK' | translate }}</span>
  </mat-list-item>
	<mat-list-item (click)="shareInSocialMedia('twitter')">
		<img matListItemAvatar src="./assets/images/social-media/twitterR.png">
    <h3 matListItemTitle>Twitter</h3>
    <span matListItemLine>{{ 'DIALOGS.SHARE.TWITTER' | translate }}</span>
  </mat-list-item>
  <mat-list-item (click)="shareInSocialMedia('whatsapp')">
		<img matListItemAvatar class="not-rounded" src="./assets/images/social-media/whatsappR.png">
    <h3 matListItemTitle>WhatsApp</h3>
    <span matListItemLine>{{ 'DIALOGS.SHARE.WHATSAPP' | translate }}</span>
  </mat-list-item>
  <mat-list-item (click)="shareInSocialMedia('copyLink')">
  	<mat-icon matListItemIcon>link</mat-icon>
    <h3 matListItemTitle>Copy link</h3>
    <span matListItemLine>{{ 'DIALOGS.SHARE.COPY' | translate }}</span>
  </mat-list-item>
</mat-nav-list>