<h2 mat-dialog-title class="title-text">
	Post story
</h2>
<div class="title-buttons">
	<button
		mat-icon-button
		aria-label="Close window"
		(click)="close()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div class="clear-both"></div>
<mat-dialog-content
	class="content border-right-special">
	<div *ngIf="!loadingPostingSubstories && !loadingPostingMainStory">
		<p>Do you want to post this Story?</p>
		<p class="text-center substories" *ngIf="data.substories && data.substories.length">
			+ {{ data.substories.length }} substor{{ data.substories.length === 1 ? 'y' : 'ies'}} detected!
		</p>
		<p class="text-right">
			<mat-checkbox class="dispatch-chk" [formControl]="useDispatch">
				Post for FREE (Dispatch method)
			</mat-checkbox>
		</p>
	</div>
	<div *ngIf="loadingPostingSubstories">
		<p>Posting substories ...</p>
	</div>	
	<div *ngIf="loadingPostingMainStory">
		<p>Posting main story ...</p>
	</div>
</mat-dialog-content>

<mat-dialog-actions align="start">
  <button mat-button (click)="close()">Close</button>
  <div class="spacer"></div>
  <button
  	mat-flat-button
  	cdkFocusInitial
  	(click)="submit()"
  	color="accent">Yes, post story now!</button>
</mat-dialog-actions>