<mat-card class="post-card fadeIn mat-elevation-z0">
	<mat-card-content class="card-content">
		<div class="avatar-container" *ngIf="loading">
			<ngx-skeleton-loader
				[animation]="isDarkTheme ? 'progress-dark' : 'progress'"
				appearance="circle"
				[theme]="{ 'height.px': 62, 'width.px': 62, 'marginTop.px': 0 }"></ngx-skeleton-loader>
		</div>
		<div class="message-container" *ngIf="loading">
		  <ngx-skeleton-loader
		  	[animation]="isDarkTheme ? 'progress-dark' : 'progress'"
		  	appearance="line" 
		  	[theme]="{ 'height.px': 66, 'marginBottom.px': 0, 'marginTop.px': 0 }"></ngx-skeleton-loader>
		</div>
		<div class="avatar-container" *ngIf="!loading">
		  <img class="avatar" mat-card-avatar [src]="profileImage">
		</div>
		<div class="message-container" [ngClass]="{ 'hide': loading }">
		  <div class="message fadeIn border-color-theme" #postMessage></div>
		</div>
	</mat-card-content>
	<mat-card-actions align="end">
		<div class="emotions-container" *ngIf="!loading">
			<button
					mat-icon-button
					color="accent"
					[matMenuTriggerFor]="matMenuEmojis"
					[disabled]="loadingCreatePost">
				<mat-icon class="material-icons-outlined">emoji_emotions</mat-icon>
			</button>
			<mat-menu #matMenuEmojis="matMenu">
			  <app-emojis (emojiSelectedEvent)="emojiSelected($event)"></app-emojis>
			</mat-menu>
			<button mat-icon-button color="accent" [disabled]="loadingCreatePost">
				<mat-icon class="material-icons-outlined">image</mat-icon>
			</button>
			<button mat-icon-button color="accent" [disabled]="loadingCreatePost">
				<mat-icon class="material-icons-outlined">videocam</mat-icon>
			</button>
			<button mat-icon-button color="accent" [disabled]="loadingCreatePost">
				<mat-icon class="material-icons-outlined">mic</mat-icon>
			</button>
			<button mat-icon-button color="accent" [disabled]="loadingCreatePost">
				<mat-icon class="material-icons-outlined">post_add</mat-icon>
			</button>
		</div>
		<span class="spacer"></span>
		<ngx-skeleton-loader
				[animation]="isDarkTheme ? 'progress-dark' : 'progress'"
			 *ngIf="loading"
				appearance="line" 
				[theme]="{ 'height.px': 36, 'width.px': 100, 'marginBottom.px': 0 }"></ngx-skeleton-loader>
		<button 
			*ngIf="!loading"
			[disabled]="!messageContent || loadingCreatePost"
			class="post-btn"
			(click)="submit()"
			mat-raised-button color="accent"><span class="hide-sm">Post</span><mat-icon>send</mat-icon></button>
	</mat-card-actions>
	
	<mat-card-footer *ngIf="loadingData || loadingCreatePost" class="fadeIn">
    <mat-progress-bar color="accent" mode="indeterminate"></mat-progress-bar>
  </mat-card-footer>
</mat-card>