.post-card {
	width: 100%;
	margin: 0 auto;
}

mat-card-header {
	width: 100%;
	margin-bottom: 20px;
}

.mat-card-content {
}


.card-content {
	margin-top: 10px;
	min-height: 10px;
	position: relative;
	clear: both;
	display: flex;


}

.loading-avatar {
	float: left;
}


.avatar-container {
	float: left;
	width: 82px;
	text-align: left;
	min-height: 100%;
}

.avatar {
	width: 62px;
	height: 62px;
}

.message-container {
	float: left;
	width: calc(100% - 82px);
	min-height: 100%;
	padding-left: 10px;

  overflow-wrap: break-word;
}

.mat-card-actions {
	padding-top: 12px;
}


@media (min-width: 800px) {
	.post-card {
		width: 90%;
	}
}