<mat-card class="post-card fadeIn mat-elevation-z0">
	<mat-card-content>
		<div class="card-content">
			<div class="avatar-container">
				<ngx-skeleton-loader 
						*ngIf="loadingProfile"
						[animation]="isDarkTheme ? 'progress-dark' : 'progress'"
						appearance="circle"
						[theme]="{ 'height.px': 62, 'width.px': 62, 'marginTop.px': 0 }"></ngx-skeleton-loader>
			  <img class="avatar" *ngIf="!loadingProfile" [routerLink]="['/', post.owner]" mat-card-avatar [src]="profileImage">
			</div>
			<div class="story-container">
				<h2 class="profile-name" *ngIf="!loadingProfile" [routerLink]="['/', post.owner]">
					<span *ngIf="profile">{{ profile.username }}</span><small *ngIf="post">@{{ ellipsis(post.owner) }}</small>
				</h2>
				<ngx-skeleton-loader
					[animation]="isDarkTheme ? 'progress-dark' : 'progress'"
			  	appearance="line" 
			  	*ngIf="loadingProfile"
			  	[theme]="{ 'height.px': 22, 'width': '60%', 'marginBottom.px': 12, 'marginTop.px': 0 }"></ngx-skeleton-loader>
			  <ngx-skeleton-loader
					[animation]="isDarkTheme ? 'progress-dark' : 'progress'"
			  	appearance="line" 
			  	*ngIf="loadingContent"
			  	[theme]="{ 'height.px': 18, 'marginBottom.px': 8, 'marginTop.px': 0, 'width': '100%' }"></ngx-skeleton-loader>
			  <ngx-skeleton-loader
					[animation]="isDarkTheme ? 'progress-dark' : 'progress'"
			  	appearance="line" 
			  	*ngIf="loadingContent"
			  	[theme]="{ 'height.px': 18, 'marginBottom.px': 8, 'marginTop.px': 0, 'width': '100%' }"></ngx-skeleton-loader>
				<ngx-skeleton-loader
					[animation]="isDarkTheme ? 'progress-dark' : 'progress'"
			  	appearance="line" 
			  	*ngIf="loadingContent"
			  	[theme]="{ 'height.px': 18, 'marginBottom.px': 20, 'marginTop.px': 0, 'width': '90%' }"></ngx-skeleton-loader>
			  <div 
			  	*ngIf="!loadingContent && content"
			  	class="content fadeIn" [innerHTML]="content">
			  </div>
			  <div 
			  	*ngIf="post && (!post.blockId || post.blockHeight == 0) "
			  	class="fadeIn">
			  	Status: Pending
			  </div>
			</div>

		</div>
		 <div 
		  	*ngIf="!loadingContent"
		  	class="fadeIn story-actions">
		  	<div class="action-btn-wrapper">
	        <button mat-button class="blue-hover" aria-label="Comment" mat-tooltip="Comment">
		        <mat-icon class="material-icons-outlined">comment</mat-icon>
	        	<div>Comment</div>
		      </button>
	      </div>
		  	<div class="action-btn-wrapper">
		  		<button mat-button class="green-hover" aria-label="Repost">
		        <mat-icon class="material-icons-outlined">repeat</mat-icon>
		        <div>Repost</div>
		      </button>
	        
		  	</div>
	      <div class="action-btn-wrapper">
	      	<button mat-button class="pink-hover" aria-label="Like">
		        <mat-icon class="material-icons-outlined">favorite</mat-icon>
	        	<div>Like</div>
		      </button>
		  	</div>
	      <div class="action-btn-wrapper">
	      	<button mat-button class="orange-hover" aria-label="Share Story">
		        <mat-icon class="material-icons-outlined">share</mat-icon>
	        	<div>Share</div>
		      </button>
		  	</div>
	      
		  </div>
	</mat-card-content>
	<mat-card-actions align="end">
		
	</mat-card-actions>
</mat-card>

<mat-progress-bar *ngIf="loadingContent || loadingProfile" color="accent" mode="indeterminate"></mat-progress-bar>
<mat-divider></mat-divider>