.post-card {
	width: 100%;
	margin: 0 auto;
	padding: 16px;
	margin-top: 20px;
	margin-bottom: 20px;	
}

mat-card-header {
	width: 100%;
	margin-bottom: 20px;
}

.mat-card-content {
}

.card-content {
	min-height: 100px;
	position: relative;
	clear: both;
	display: flex;


}

.loading-avatar {
	float: left;
}


.avatar-container {
	float: left;
	width: 82px;
	text-align: left;
	min-height: 100%;
}

.avatar {
	width: 62px;
	height: 62px;
	cursor: pointer;
}

.story-container {
	float: left;
	width: calc(100% - 82px);
	min-height: 100%;
	padding-left: 14px;

  overflow-wrap: break-word;
}

.story-container .content {
	margin-bottom: 20px;
	min-height: 100px;
}

.mat-card-actions {
	padding-top: 12px;
}


@media (min-width: 800px) {
	.post-card {
		width: 84%;
		padding: 32px;
	}
}

h2 span {
	margin-right: 20px;
}
h2 small {
	font-size: 12px;
	font-weight: normal;
	font-style: italic;
}

h2 {
	margin-bottom: 20px;
}

.profile-name {
	cursor: pointer;
}