<h2 mat-dialog-title class="title-text">
	File Manager <small *ngIf="data.type === 'image'">(Filter: Image)</small>
</h2>
<div class="title-buttons">
	<button
		mat-icon-button
		aria-label="Close window"
		(click)="close()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div class="clear-both"></div>
<mat-dialog-content
	class="content border-right-special">
	<div class="user-address text-right">
		<app-arweave-address [address]="data.address">User: </app-arweave-address>
	</div>
	<div class="images-grid">
		<mat-spinner class="loader" color="accent" mode="indeterminate" *ngIf="loadingFiles"></mat-spinner>
		<div class="mat-card-container fadeIn" *ngFor="let file of files">
			<mat-card>
			  <img mat-card-image [src]="getFileUrl(file.id)" alt="Img">
			  <app-arweave-address [address]="file.id">Tx: </app-arweave-address>
			  <p class="ellipsis nowrap"><strong>Created:</strong> {{ dateFormat(file.blockTimestamp) }}</p>
			</mat-card>
		</div>
	</div>
</mat-dialog-content>