<h2 mat-dialog-title class="title-text">
	File Manager <small *ngIf="data.type === 'image'">(Filter: Image)</small>
</h2>
<div class="title-buttons">
	<button
		mat-icon-button
		aria-label="Close window"
		(click)="close()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div class="clear-both"></div>
<mat-dialog-content
	class="content border-right-special">
	<div class="user-address text-right">
		<app-arweave-address [address]="data.address">User: </app-arweave-address>
	</div>
	<div class="images-grid">
		<div class="mat-card-container">
			<mat-card>
			  <img mat-card-image src="assets/images/blank-profile.png" alt="Img">
			  <p>Image info</p>
			  <mat-card-footer>
			    <mat-progress-bar color="accent" mode="indeterminate"></mat-progress-bar>
			  </mat-card-footer>
			</mat-card>
		</div>
	</div>
</mat-dialog-content>