mat-toolbar {
	height: 60px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
}

.logo-img {
	transform: rotate(-8deg);
	-webkit-filter: drop-shadow(4px 4px 4px rgba(255,255,255,0.5));
}
.logo{
	font-weight: bold;
	letter-spacing: 6px;
	cursor: pointer;
	font-size: 22px;
}

@media (min-width: 800px) {
	.logo {
		font-size: 26px;
		margin-right: 4px;
	}
}

.active {
	background: rgba(0,0,0,.2);
	font-weight: bold;
}

.mat-button span {
	margin-left: 8px;
	font-size: 12px;
	font-weight: bold;
}
