<div class="no-results" *ngIf="!loadingPost && !post"> No results.</div>
<div class="post-list-container" *ngIf="post && !loadingPost">
	<app-story-card [post]="post" [fullMode]="true"></app-story-card>
</div>
<h3 class="likes-subtitle">
	<mat-icon aria-label="Likes" color="warn">favorite</mat-icon>
	0 Likes
</h3>
<h3 class="replies-subtitle">Replies:</h3>
<div class="post-list-container" *ngIf="post && !loadingPost">
	<app-story-card
		*ngFor="let reply of replies"
		[post]="reply"
		[fullMode]="false"></app-story-card>
</div>
<div class="more-results-container">
	<mat-spinner *ngIf="loadingPost || loadingReplies" color="accent" diameter="32"></mat-spinner>
	<div class="no-results" *ngIf="!replies.length && !loadingReplies">
		{{ 'GENERAL.LABELS.NO_RESULTS' | translate }}
	</div>
	<mat-card 
		#moreResultsCard 
		[style.visibility]="!loadingReplies && moreResultsAvailable ? 'visible' : 'hidden'"
		class="more-results-card mat-elevation-z0"
		matRipple
		(click)="moreReplies()" >
	  <mat-card-content class="more-results text-center">
			{{ 'GENERAL.LABELS.SHOW_OLDER_RESULTS' | translate }}
	  </mat-card-content>
	</mat-card>
</div>