<div class="fadeIn">
	<div class="profile-header mat-elevation-z2 pacific-dream"></div>
	<div class="profile-subheader">
		<div class="profile-img ">
			<img class="avatar border-same-as-background mat-elevation-z2" mat-card-avatar [src]="profileImage">
		</div>
		<div class="profile-info">
			<h2 *ngIf="name">{{ name }}</h2>
			<h4 *ngIf="username" class="small-username">@{{ username }}</h4>
			<app-arweave-address
				*ngFor="let address of addressList"
				[address]="address" class="address"></app-arweave-address>
		</div>
	</div>
	<div class="bio" *ngIf="bio">
		{{ bio }}
	</div>
	<div class="col-body">
		<router-outlet></router-outlet>
	</div>
</div>