<div class="menu-container">
  <mat-nav-list *ngIf="account">
    <a 
      mat-list-item
      matRipple
      [routerLink]="['home']" 
      [ngClass]="{active: rlaHome.isActive && !activeDialogFlag, 'border-color-theme': rlaHome.isActive && !activeDialogFlag}"
      [routerLinkActive]="[]"
      #rlaHome="routerLinkActive"
      [routerLinkActiveOptions]="{exact: true}">
      <mat-icon 
        mat-list-icon 
        [class]="{ 'material-icons-outlined': !rlaHome.isActive || activeDialogFlag }" 
        [color]="rlaHome.isActive && !activeDialogFlag ? 'accent' : 'default'">house</mat-icon>
      <div mat-line>{{ 'MAIN_MENU.HOME' | translate }}</div>
    </a>
    <a mat-list-item
      matRipple
      [routerLink]="[{ outlets: { popup: ['create-story'] } }]" 
      [routerLinkActive]="['active', 'border-color-theme']"
      #rlaPost="routerLinkActive">
      <mat-icon 
        mat-list-icon
        [class]="{ 'material-icons-outlined': !rlaPost.isActive }" 
        [color]="rlaPost.isActive ? 'accent' : 'default'">history_edu</mat-icon>
      <div mat-line>Create Story</div>
    </a>
    <a mat-list-item
      matRipple
      [routerLink]="['search']" 
      [ngClass]="{active: rlaSearch.isActive && !activeDialogFlag, 'border-color-theme': rlaSearch.isActive && !activeDialogFlag}"
      [routerLinkActive]="[]"
      #rlaSearch="routerLinkActive">
      <mat-icon 
        mat-list-icon
        [class]="{ 'material-icons-outlined': !rlaSearch.isActive || activeDialogFlag }" 
        [color]="rlaSearch.isActive && !activeDialogFlag ? 'accent' : 'default'">search</mat-icon>
      <div mat-line>{{ 'MAIN_MENU.SEARCH' | translate }}</div>
    </a>
    <a mat-list-item
      *ngIf="false"
      matRipple
      [routerLink]="['notifications']" 
      [ngClass]="{active: rlaNotifications.isActive && !activeDialogFlag, 'border-color-theme': rlaNotifications.isActive && !activeDialogFlag}"
      [routerLinkActive]="[]"
      #rlaNotifications="routerLinkActive">
      <mat-icon
        mat-list-icon
        [class]="{ 'material-icons-outlined': !rlaNotifications.isActive || activeDialogFlag  }" 
        [color]="rlaNotifications.isActive && !activeDialogFlag ? 'accent' : 'default'">notifications</mat-icon>
      <div mat-line>{{ 'MAIN_MENU.NOTIFICATIONS' | translate }}</div>
    </a>
    <a mat-list-item
      matRipple
      [routerLink]="account" 
      [ngClass]="{active: rlaProfile.isActive && !activeDialogFlag, 'border-color-theme': rlaProfile.isActive && !activeDialogFlag}"
      [routerLinkActive]="[]"
      #rlaProfile="routerLinkActive">
      <mat-icon
        mat-list-icon
        [class]="{ 'material-icons-outlined': !rlaProfile.isActive || activeDialogFlag }" 
        [color]="rlaProfile.isActive && !activeDialogFlag ? 'accent' : 'default'">person</mat-icon>
      <div mat-line>{{ 'MAIN_MENU.PROFILE' | translate }}</div>
    </a>
    <a mat-list-item
      matRipple
      [routerLink]="['settings']" 
      [ngClass]="{active: rlaSettings.isActive && !activeDialogFlag, 'border-color-theme': rlaSettings.isActive && !activeDialogFlag}"
      [routerLinkActive]="[]"
      #rlaSettings="routerLinkActive">
      <mat-icon
        mat-list-icon
        [class]="{ 'material-icons-outlined': !rlaSettings.isActive  || activeDialogFlag }" 
        [color]="rlaSettings.isActive && !activeDialogFlag ? 'accent' : 'default'">settings</mat-icon>
      <div mat-line>{{ 'MAIN_MENU.SETTINGS' | translate }}</div>
    </a>
  </mat-nav-list>

  <mat-nav-list *ngIf="!account">
    <a 
      mat-list-item
      matRipple
      [routerLink]="['home']" 
      [routerLinkActive]="['active', 'border-color-theme', 'color-accent-theme']"
      #rlaHome2="routerLinkActive"
      [routerLinkActiveOptions]="{exact: true}">
      <mat-icon 
        mat-list-icon 
        [class]="{ 'material-icons-outlined': !rlaHome2.isActive }" 
        [color]="rlaHome2.isActive ? 'accent' : 'default'">house</mat-icon>
      <div mat-line>{{ 'MAIN_MENU.HOME' | translate }}</div>
    </a>
    <a mat-list-item
      matRipple
      [routerLink]="['search']" 
      [routerLinkActive]="['active', 'border-color-theme', 'color-accent-theme']"
      #rlaSearch2="routerLinkActive">
      <mat-icon 
        mat-list-icon
        [class]="{ 'material-icons-outlined': !rlaSearch2.isActive }" 
        [color]="rlaSearch2.isActive ? 'accent' : 'default'">search</mat-icon>
      <div mat-line>{{ 'MAIN_MENU.SEARCH' | translate }}</div>
    </a>
    <a mat-list-item
      matRipple
      [routerLink]="['settings']" 
      [routerLinkActive]="['active', 'border-color-theme', 'color-accent-theme']"
      #rlaSettings2="routerLinkActive">
      <mat-icon
        mat-list-icon
        [class]="{ 'material-icons-outlined': !rlaSettings2.isActive }" 
        [color]="rlaSettings2.isActive ? 'accent' : 'default'">settings</mat-icon>
      <div mat-line>{{ 'MAIN_MENU.SETTINGS' | translate }}</div>
    </a>
  </mat-nav-list>

  <mat-nav-list>
    <a mat-list-item
      matRipple
      [routerLink]="['privacy-policy']" 
      [ngClass]="{active: rlaPrivacyPolicy.isActive && !activeDialogFlag, 'border-color-theme': rlaPrivacyPolicy.isActive && !activeDialogFlag}"
      [routerLinkActive]="[]"
      #rlaPrivacyPolicy="routerLinkActive">
      <mat-icon 
        mat-list-icon
        [class]="{ 'material-icons-outlined': !rlaPrivacyPolicy.isActive || activeDialogFlag }" 
        [color]="rlaPrivacyPolicy.isActive && !activeDialogFlag ? 'accent' : 'default'">policy</mat-icon>
      <div mat-line class="small-text">Privacy Policy</div>
    </a>
    <a mat-list-item
      matRipple
      [routerLink]="['cookie-policy']" 
      [ngClass]="{active: rlaCookiePolicy.isActive && !activeDialogFlag, 'border-color-theme': rlaCookiePolicy.isActive && !activeDialogFlag}"
      [routerLinkActive]="[]"
      #rlaCookiePolicy="routerLinkActive">
      <mat-icon 
        mat-list-icon
        [class]="{ 'material-icons-outlined': !rlaCookiePolicy.isActive || activeDialogFlag }" 
        [color]="rlaCookiePolicy.isActive && !activeDialogFlag ? 'accent' : 'default'">cookie</mat-icon>
      <div mat-line class="small-text">Cookie Policy</div>
    </a>
  </mat-nav-list>
</div>