<div class="pending-container fadeIn">
	<h2>
		Pending Transactions
	</h2>
	<div class="post-list-container">
		<app-story-card *ngFor="let post of posts" [post]="post"></app-story-card>
	</div>
	<div class="more-results-container">
		<mat-spinner *ngIf="loadingPosts" color="accent" diameter="32"></mat-spinner>
		<div class="no-results" *ngIf="!posts.length && !loadingPosts">
			You have no pending transactions!
		</div>
		<mat-card class="more-results-card mat-elevation-z0" matRipple *ngIf="!loadingPosts && moreResultsAvailable && posts.length" (click)="moreResults()" >
		  <mat-card-content class="more-results text-center">
				Show more results
		  </mat-card-content>
		</mat-card>
	</div>
</div>