<div class="info-container fadeIn">
	<h2>
		<mat-icon class="header-icon material-icons-outlined">info</mat-icon>
		<span>App Info</span>
	</h2>
	<mat-list>
		<mat-list-item>
			<strong>Permaweb Protocol:</strong>
			<span> {{ appName }} v{{ protocolVersion }}</span>
		</mat-list-item>
		<mat-list-item>
			<strong>Platform Version:</strong>
			<span> {{ appVersion }}</span>
		</mat-list-item>
	</mat-list>
	<mat-divider></mat-divider>
	<h3>
		Session data
	</h3>
	<p>
		<a 
			[routerLink]="['/', 'logout']"
			mat-button color="accent"
			*ngIf="mainAddress">Log out</a>
		<button (click)="deleteSes()" mat-button color="warn">Delete Session</button>
	</p>
</div>