<div>
	<p>
	  <mat-toolbar class="secondary-toolbar" color="primary">
	    <button mat-icon-button>
    		<mat-icon>notifications</mat-icon>
  		</button>
  		<span>Notifications</span>
	  </mat-toolbar>
	</p>
	<nav mat-tab-nav-bar backgroundColor="primary"  [tabPanel]="tabPanel">
	  <a mat-tab-link 
	     [routerLink]="['/', 'notifications', 'pending']"
	     routerLinkActive="active"
	     #rlNotifications="routerLinkActive"
	     [active]="rlNotifications.isActive"> Pending </a>
	  <a mat-tab-link 
	     #rlHistory="routerLinkActive"
	     routerLinkActive="active"
	     [active]="rlHistory.isActive"
	     [routerLink]="['/', 'notifications', 'history']"> History </a>
	</nav>
	<mat-tab-nav-panel #tabPanel><router-outlet></router-outlet></mat-tab-nav-panel>
</div>
