<div class="content">
	<div class="substory-container">
		<mat-spinner color="accent" [diameter]="40" *ngIf="substoryContent.loading"></mat-spinner>
		<div
			class="text-container fadeIn"
			*ngIf="substoryContent.type === 'text/plain' && substoryContent.content ">
			<p #contentContainer [innerHTML]="substoryContent.content">
				
			</p>
		</div>
		<div
			*ngIf="substoryContent.type.indexOf('image') >= 0"
			class="image-container fadeIn"
			[ngStyle]="{ 'background-image': 'url(' + substoryContent.content + ')' }">
			
		</div>
	</div>
</div>