.link-container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.link-img-container {
	margin: 0 auto;
	width: 80%;
	height: 70%;
	border-radius: 12px;
	background-color: #CCC;
	margin-bottom: 12px;
  flex-shrink: 0;
  object-fit: cover;
}

.link-footer {
	font-size: 12px;
}